<div class="app">
    <div class="flex flex-col">
      <section class="px-4 md:px-6 lg:px-8">
        <div class="mx-auto max-w-4xl">
            <div class="flex flex-row justify-center"><h1 class="text-3xl font-bold tracking-tight md:text-4xl">Câu hỏi Trinh Hà 2025</h1></div>
            <!-- <div class="flex flex-row justify-center">
                <mat-chip-set aria-label="Dog selection">
                    <a [routerLink]="['/trinh-ha-2025-luyen-tap']"><mat-chip>
                     <img
                        matChipAvatar
                        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                        alt="Photo of a Shiba Inu"
                      />
                      Luyện tập Trinh Hà 2025
                    </mat-chip></a>
                  </mat-chip-set>
              </div> -->
        </div>
      </section>
      @if ({questionJson: questionJson$ | async}; as questionJson) {
        @for (item of (questionJson.questionJson?.questions || []); track $index) {
           <app-question [question]="item" />
        }
      }
      
    </div>
  </div>
  