<div class="app">
    <div class="flex flex-col">
      <section class="px-4 md:px-6 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <div class="flex flex-row justify-center">
            <h1 class="text-3xl font-bold tracking-tight md:text-4xl">Ôn Giáo Lý</h1>
          </div> 
          <div class="flex flex-row justify-center">
            <p class="mt-2 text-lg text-gray-500">Chúng ta cùng Ôn Giáo Lý chuẩn bị cho giáo lý mùa Chay nào!!!</p>
          </div>
          
          <div class="flex flex-row">
            <mat-chip-set aria-label="Dog selection">
                <a [routerLink]="['/trinh-ha-2025']"><mat-chip>
                 <img
                    matChipAvatar
                    src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                    alt="Photo of a Shiba Inu"
                  />
                  Câu hỏi Trinh Hà 2025
                </mat-chip></a>
              </mat-chip-set>
          </div>
        </div>
      </section>
  
    </div>
  </div>
  