
  @if (question) {
    <section class="px-4 md:px-6 lg:px-8">
        <div class="mx-auto max-w-4xl">
            <div class="px-4 text-bold">
                {{question.question}}
              </div>
              <div class="p-4">
                <div class="rounded-md bg-gray-100 p-4 font-mono text-sm text-gray-900">
                    @for (item of question.answers; track $index) {
                        <p>{{item}}</p>
                    }
                </div>
              </div>
          
        </div>
      </section>
  }